{% macro badge(severity_or_status) %}
    {% set category = 'status' if severity_or_status in ['Open', 'In Progress', 'Resolved', 'Closed'] else 'severity' %}
    <span class="badge badge-{{ category }}-{{ severity_or_status|replace(' ', '-') }}">{{ severity_or_status }}</span>
{% endmacro %}

{% macro glass_button(text, type='submit', custom_class='', href='') %}
    {% if href %}
        <a href="{{ href }}" class="btn btn-secondary {{ custom_class }}">{{ text }}</a>
    {% else %}
        <button type="{{ type }}" class="btn btn-secondary {{ custom_class }}">{{ text }}</button>
    {% endif %}
{% endmacro %}
